.background-container {
    background-image: url('../../images/current-events.PNG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  @media (max-width: 767px) {
    .row {
      flex-direction: column;
    }
  }
  
  .left-div {
    flex: 1;
    text-align: center;
  }
  @media (max-width: 767px) {
    .left-div {
        margin-bottom: 10%;
      flex-direction: column;
    }
  }


  .centered-text  {
    text-align: center;
    font-size: 48px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    
    /* Make the text a dark gray color for better readability */
    color: #333;
    
    /* Add a subtle text shadow for depth */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    
    /* Apply some letter spacing for a modern touch */
    letter-spacing: 1px;
    
    /* Add a smooth transition for hover effects */
    transition: color 0.3s, text-shadow 0.3s;
  }
  
  /* On hover, you can change the text color and text-shadow */
  .black-text:hover {
    color: #555; /* Slightly lighter on hover */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .info-text {
    text-align: center;
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    margin-bottom: 4%;
    width: 70%;
  }
  
  .right-div {
    margin-right: 5%;
    margin-left: 5%;
    padding: 2%;
    border: 2px solid black; /* Thin black border */
    background-color: white; /* White background */
    border-radius: 10px; /* Rounded edges with a 10px radius */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  